<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.org.MyPackage.MyChannel.DarpanHande</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>link1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>link5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>link4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>link3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>link2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>link7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>link6</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
</table>
