<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Darpan Hande test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:54:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DarpanHande.afterMethod()[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@323326911</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:52:43</td>   <td>-82014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DarpanHande.link1()[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">link1</td> 
  <td>main@323326911</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:52:53</td>   <td>-71444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DarpanHande.link2()[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">link2</td> 
  <td>main@323326911</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:53:04</td>   <td>-61327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DarpanHande.link3()[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">link3</td> 
  <td>main@323326911</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:53:14</td>   <td>-51253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DarpanHande.link4()[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">link4</td> 
  <td>main@323326911</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:53:27</td>   <td>-37894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DarpanHande.link5()[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">link5</td> 
  <td>main@323326911</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:53:42</td>   <td>-23010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DarpanHande.link6()[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">link6</td> 
  <td>main@323326911</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:53:54</td>   <td>-11223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DarpanHande.link7()[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">link7</td> 
  <td>main@323326911</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>18/04/01 14:52:37</td>   <td>-88043</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DarpanHande.setUp(java.lang.String)[pri:0, instance:com.org.MyPackage.MyChannel.DarpanHande@3891771e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@323326911</td>   <td></td> </tr>
</table>
